body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.mainContainer {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  margin: 0 auto;
  background:url('./js-logo.jpg')
}

.tagContainer {
  display: flex;
  position: absolute;
  top: 30px;
  height: 30px;
  min-width: 50px;
  color: #fff;
  -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
#advice{
  display: block;
  width:100px;
  margin: 0 auto;
}

.container, .exit, .tagContainer input{
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.container{
  padding: 10px 10px;
}
.hide{
  display: none;
}
.reverse {
  flex-direction: row-reverse;
}
